<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/lightbox.min.css">
    <link rel="icon" href="/img/webIcon.svg">
    <title>MovieSearcher</title>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <div id="app" v-cloak>
        <div class="header">
            <div class="logo" @click="scrollToTop()">
                <img src="img/logo.png" alt="">
            </div>
            <div class="blank"></div>
            <div class="navBar" id="navBar">
                <div class="nav" @click="getPopularMovie(1)">電影搜索</div>
                <div class="nav" @click="getNowPlaying(1)">現正熱映</div>
                <div class="nav" @click="getTopMovie(1)">強勢推薦</div>
                <div class="nav" @click="getUpcoming(1)">即將推出</div>
                <div class="nav" @click="getPreview()">電影預告</div>
            </div>
            <div class="navBar_mobile" @click="toggleBar()"><i class="fa-solid fa-bars"></i></div>
        </div>
        <div class="banner"></div>
        <div class="search">
            <input class="search-input" type="text" v-model="searchFlag.searchName" placeholder="關鍵字搜索影集資訊">
            <div class="search-icon" @click="searchMovie(1)"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
        <div class="content">
            <div class="contentTop">
                <div class="line"></div>
                <span v-text="contentTopName"></span>
                <div class="line"></div>
            </div>
            <div class="content-main">
                <div class="movieList" v-if="pageType==1">
                    <div class="movieBlock" v-for="obj in MovieList.results" v-if="obj['poster_path']!=null && isLoaded">
                        <img :src="'https://image.tmdb.org/t/p/w400'+obj['poster_path']" alt="">
                        <div class="date" v-text="obj['release_date']"></div>
                        <div class="rate">
                            <i class="fa-regular fa-star"></i> {{(obj['vote_average']).toFixed(1)}}/10.0
                        </div>
                        <div class="movieDetail">
                            <a :href="'https://image.tmdb.org/t/p/w500'+obj['backdrop_path']" data-lightbox="image-1" data-title="My caption"><div class="detail" v-text="obj['overview']"></div></a>
                        </div>
                    </div>
                    <div v-if="isLoaded" class="pageChanger">
                        <div class="arrow left" @click="changePageIndex('before')"><i class="fa-solid fa-chevron-left"></i></div>
                        <div class="pageId" v-text="pageId"></div>
                        <div class="arrow right" @click="changePageIndex('next')"><i class="fa-solid fa-chevron-right"></i></div>
                        <div class="totalSize">共 {{totalPages}} 頁</div>
                    </div>
                    <div v-else class="loadingBlock"></div>
                </div>
                <div class="movieList" v-if="pageType==2">
                    <div v-if="isLoaded" class="previewBlock" v-for="obj in previewList['items']">
                        <div class="previewTitle" v-text="obj['snippet']['title']"></div>
                        <div class="pre_video"><iframe class="video" :src="'https://www.youtube.com/embed/'+obj['id']['videoId']"></iframe></div>
                    </div>
                    <div v-if="isLoaded"></div>
                    <div v-else class="loadingBlock"></div>
                </div>
            </div>

        </div>
        <div class="footer">
        </div>
    </div>
</body>
</html>
<script src="js/vue.js"></script>
<script src="js/three.js"></script>
<script src="js/halo.js"></script>
<script src="https://kit.fontawesome.com/026fbb8b51.js" crossorigin="anonymous"></script>
<script src="js/lightbox-plus-jquery.min.js"></script>
<script src="js/index.js"></script>
<script>
    VANTA.HALO({
    el: ".banner",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    })
</script>
<script>
    lightbox.option({
        'wrapAround':true,
        'imageFadeDuration':300,
        'alwaysShowNavOnTouchDevices':true,
        'disableScrolling':true,
        'positionFromTop':240
    })
</script>